p {
    font-family: 'Viga', serif;
}

h1 h2 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

h1 {
    border-color: black;
}

#school {
    background-color: white;
    border-color: darkred;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

#school:hover {
    font-size: 23px;
}

#coding {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    width: 100%;
}

#coding .coding-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 70%; /* Set the width of the positioned div */
    font-size: 20px;
}

.coding-text {
    background-color: rgba(256, 256, 256, 90%)
}

.coding-img {
    width: 100%;
}

#ec {
    background-color: white;
    border-color: yellow;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

#erf {
    background-color: white;
    border-color: darkgreen;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

#links {
    background-color: white;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

ul li {
  text-align: center;
  list-style: none;
  margin-top: -23px;
  margin:0px;
  text-align: left;
}
li {
  display: inline-block;
  margin: 40px;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
}

li:hover {
    box-shadow: 0px 0px 29px 11px #000000;
}

.flex {
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

a {
    color: black;
}

a:hover {
    color: lightslategrey;
}

.main {
    margin-top: 100px;
}

.beta-sign {
    text-align: end;
    color: green;
}