p {
    font-family: 'Viga', serif;
}

h1 h2 {
    font-family: 'Bree Serif', serif;
    text-align: center;
}

h1 {
    border-color: black;
}

#school {
    background-color: black;
    
    border-color: darkred;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 1px;
    text-align: center;
    font-size: 20px;
}

#coding {
    position: relative;
    display: inline-block; /* Make the width of box same as image */
    width: 100%;
}

#coding .coding-text {
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 70%; /* Set the width of the positioned div */
    font-size: 20px;
}

.coding-text {
    background-color: rgba(0, 0, 0, 80%)
}

.coding-img {
    width: 100%;
}

#ec {
    background-color: black;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 1px;
    text-align: center;
    font-size: 20px;
    display: flex;
}

.piano, .ootm {
    max-width: 20em;
    min-width: 25em;
}

#ec-image {
    height: 14.18em;
    width: 20em;
}

.piano:hover, .ootm:hover {
    background-color: rgba(25, 25, 25, 50%);
}

#erf {
    background-color: black;
    border-color: darkgreen;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 1px;
    text-align: center;
    font-size: 20px;
}

#links {
    background-color: black;
    border-color: darkblue;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 1px;
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
}

ul .nav {
  text-align: center;
  list-style: none;
  margin-top: -23px;
  margin:0px;
  text-align: left;
}

.nav {
  display: inline-block;
  margin: 40px;
  border-color: lightslategray;
  border-width: 2px;
  border-style: solid;
  border-radius: 10px;
  padding: 10px;
  text-align: end;
}

.nav:hover {
    box-shadow: 0px 0px 10px 9px lightslategray;
}

.flex {
    display: flex;
    flex-direction: row;
}

header {
    position: fixed;
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
}

a {
    color: lightslategrey;
}

a:hover {
    color: tomato;
}

#text {
    margin-top: 100px;
    background-color: black;
}

.beta-sign {
    text-align: center;
    color: green;
}

body {
    background-color: black;
    color: white;
}

main {
    display: block;
    max-width: 60em;
    margin: auto;
}

.align-end {
    text-align: end;
}

@media only screen and (min-width: 9990px) {
  body {
    background-color: lightblue;
  }
}